@charset "utf-8";
/* General Definitions*/

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
}


/*END  General Definitions*/

/* Top Navigation*/
.top-bar {
	height: 125px;
	background: #fff;
	padding: 30px 130px 0 130px;;
	-webkit-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
}
.top-bar-section ul li > a, .right-off-canvas-menu ul li > a, .right-off-canvas-toggle span {
	color: #2a2a2a;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}
.top-bar-section ul li > a:hover, .right-off-canvas-menu ul li > a:hover {
	color: #00a8c6;
	border-bottom: 2px solid #00a8c6;
}
.top-bar-section ul li {
	margin: 0 27px;
}

#hrtech-logo{
	position:relative; 
	top:-10px;
	}
#offcanvas-toggler {
	margin-right: 40px;
}
.fa-bars {
	color: #2a2a2a;
	font-size: 30px;
	position:absolute;
	right:60px;
	top:7px;
	float:right;

}
.right-off-canvas-menu ul {
	list-style-type: none;
}
.left-small img {
	margin-left:20px;
	}
@media(min-width:1138px) {
.tab-bar {
	display: none;
}
.top-bar {
	display: block
}
}

@media(max-width:1135px) {
.tab-bar {
	display: block;
}
.top-bar {
	display: none
}
}
/*End Top Navigation*/


/*Header*/
#header-container {
	min-height: 540px;
	width: 100%;
	background: url(../img/header-background.png) no-repeat;
	background-size: cover;
	text-align:center;
	padding:50px 0;
}

#header-container h1 {
	margin-top:50px;
	color:#fff;
	font-weight:bolder;
	font-size:60px;
	line-height:50px;
	margin-bottom:30px;
	}	
#header-container h2{
	
	color:#fff;
	font-weight:300;
	font-size:50px;
	line-height:40px;
	}	
#header-container h6{
	color:#fff;
	font-size:24px;
	margin:30px 0 20px 0;
	}
.header-button{
	color:#fff;
	font-size:26px;
	transition: all 0.3s;
	background-color: rgba(235, 31, 50, 0.48);
	border:3px solid #EB1F32;
	text-transform:uppercase;
	padding:15px 40px;
	margin:0 auto;
	margin-top: 50px;
	height:56px;
	}
.header-button:hover {
	transition: all 0.3s;
	background:#EB1F32;
	
	}
	
@media (max-width:460px) {
	#header-container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.header-button {
		width: 100%;
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
	
.colors-wrapper {
width:100%;	
	}	
.colored-stripe{
	height:10px;
	width:25%;
	}	

.red {
	background:#df1e34;
	}	

.blue {
	background:#00a8c6;
	
	} 
.yellow{
	background:#f9dd6e;
	}
.green {
	background:#17d683;
	}			
/* End Header*/
/*Teaser*/
#teaser-headline{
	margin-top:60px;
	text-align:center;
	font-size:60px;
	color:#00a8c6;
	font-family: 'Oswald', sans-serif;
	}
#teaser-text{
	color: #082d3c;
	margin:60px 0;
	font-size:27px;
	}
#teaser-divider	{
	background:url(../img/mainstage-divider.png) no-repeat center;
	background-size:cover;
	height:133px;
	
	
	}
/*End Teaser*/
/*Main Stage*/
#mainstage-headline{	margin:60px 0;
	text-align:center;
	font-size:60px;
	color:#df1e34;
	font-family: 'Oswald', sans-serif;
	
	}
.speaker-wrapper{
	max-width:500px;
	max-height:650px;
	margin:20px 0;
	}	
.speaker-info{
width:100%;
height:100%;
min-height:100px;
background:#e8e4d3;
text-align:center;
font-size:1.8em;
font-weight:lighter;
line-height:1.3em;
padding:20px 20px;	
	}	
#mainstage-wrapper{
	margin:0 auto;
	padding:0 10px;
	margin-bottom: 50px;
	}	
#speaker-button{
	margin:0 auto; 
	max-width:380px;
	padding:12px;
	text-transform:uppercase;
	text-align:center;
	font-size:34px;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	margin-bottom:0px;
	line-height:30px;
	height:56px
	}	
#speaker-button:hover{
		transition: all 0.3s;
		background:#00a8c6;
	}		
@media(max-width:640px){
#speaker-button{
max-width:85%;
	
	}
	}		
/*End Main Stage*/
/*Testimonials*/
#testimonial-divider{
	width:100%;
	height:133px;
	background:url(../img/testimonial-divider.png) no-repeat center;
	background-size:cover;
	position: relative;
	top: 66px;
	}
#testimonial-container{
	width:100%;
	background:#f9dd6e;
	text-align:center;
	color:#082d3c;
	padding:60px 15px 0px 15px;
	}
#testimonial-container p{
	font-size:30px;
	line-height:33px;
	max-width:1080px;
	text-align:center;
	margin:0 auto;
	font-weight: 300;
	}		
.testimonial-logo{
	margin-top:50px;
	margin-bottom: 40px;
    width:100%;	
background:#f9dd6e;
text-align:center;
	}

/*End Testimonials*/
/*Images and Clients*/

#sponsor-headline{
	margin:60px 0;
	text-align:center;
	font-size:60px;
	color:#00a8c6;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	}
.sponsor-logo{
	display:inline-block;
	margin:10px;
	}	
@media (max-width:677px) {
	.sponsor-logo {
		width:40%;
		}
	}		
/*End Images and Clients*/
/*2for1 Form*/
#formcontainer-divider{
	width:100%;
	height:133px;
	background:url(../img/2for1-divider.png) no-repeat center;
	background-size:cover;
	position: relative;
	top: 66px;
	}
#formcontainer{
	width:100%;
	min-height:1070px;
	background:url(../img/2for1-background-grid.png) center top no-repeat;
	background-size:cover;
	padding:50px 20px 50px 20px;
	text-align:center;
}
	
#formheadline	{
	font-size:60px;
	font-weight:300;
	font-family: 'Oswald', sans-serif;
	color:#fff;
	margin-bottom:20px;
	margin-top: 80px;
	
	}
	
#formdivider{
	max-width:430px;
	width:100%;
	margin:0  auto;
	border-top:1px solid #fff;
	height:50px;
	}
#formlist {
	font-size:24px;
	list-style-type:none;
	color:#fff;
	}	
#formlist li {
	padding:2px 0;
	}	
.formlabel{
	position:relative;
	left:0;
	text-align:left;
	font-size:21px;
	color:#fff;
	}
	
.submitbutton{
	border:0;
	margin:0 auto;
	margin-top:50px;
	width:98%;
	padding:10px 10px;
	text-transform:uppercase;
	text-align:center;
	font-size:30px;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	margin-bottom:50px;
	height:56px;
	}	
.submitbutton:hover{
		transition: all 0.3s;
		background:#00a8c6;
		cursor:pointer;
	}	
#first_name, #email, #email-modal, #company, #phone, #seats {
	height:56px;
	}
/*2for1 Form*/
/*Newsletter Form*/
#newsletterform-divider{
	width:100%;
	height:133px;
	background:url(../img/newsletterform-divider.png) no-repeat center;
	background-size:cover;
	position: relative;
	margin-bottom: -133px;
}
#newsletterform-container{
	text-align:center;
	width:100%;
	background:#082d3c;
	min-height:300px;
	padding:130px 15px 150px 15px;
	}
#newsletterform-headline{
	font-size:32px;
	color:#fff;
	text-transform:uppercase;
	text-align:right;
	line-height:34px;
	font-weight:100;
	

		
	}
@media (min-width:1046px){
#newsletterform-headline{
	position:relative;
	top:15px;
	}	
}
#newsletter-submit, #newsletter-submit-modal{
	font-size:24px;
	font-weight:400;
	margin:0 auto;
	border:0;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	padding:4px ;
	text-transform:uppercase;
	width:185px;
	height:56px;
	}
#newsletter-submit:hover, #newsletter-submit-modal:hover {
	cursor:pointer;
	transition: all 0.3s;
		background:#00a8c6;
	}
@media (min-width:740px){
	#newsletter-submit-modal {
		float: left;
	}
}
@media (max-width:640px){
	#newsletterform-container{
	padding:120px 0 50px 0;
	min-height: 400px;
	}
	
	

#newsletterform-headline{
	text-align:center;
	margin-bottom:20px;
	font-weight:100
	}	
	
	}
/*End Newsletter Form*/
/*Black Footer*/
#blackfooter{
	width:100%;
	background:#161616;
	min-height:200px;
	padding:50px;
	
	}
.blackfooter-element-title{
	color:#fff;
	font-size:17px;
	clear:both;
	margin-bottom:10px;
	}

#facebook{
	width:57px;
	height:57px;
	margin:3px;
	transition: all 0.3s;
	background:url(../img/facebook-icon.png) no-repeat center;
	background-size:contain;
	
	}
#facebook:hover {
	transition: all 0.3s;
	background:url(../img/facebook-icon-hover.png);
	
	}	
#twitter{
	width:57px;
	height:57px;
	margin:3px;
	transition: all 0.3s;
	background:url(../img/twitter-icon.png) no-repeat center;
	background-size:contain;
	
		}	
		#twitter:hover {
			transition: all 0.3s;
		background:url(../img/twitter-icon-hover.png);	
			}
#linkedin{
	width:57px;
	height:57px;
	margin:3px;
	transition: all 0.3s;
	background:url(../img/linkedin-icon.png) no-repeat center;
	background-size:contain;
	
	}
#linkedin:hover {
	transition: all 0.3s;
	background:url(../img/linkedin-icon-hover.png);
	}	
#flickr{
	width:57px;
	height:57px;
	margin:3px;
	transition: all 0.3s;
	background:url(../img/flickr-icon.png) no-repeat center;
	background-size:contain;
	
	}
#flickr:hover {
	transition: all 0.3s;
	background:url(../img/flickr-icon-hover.png);
	}		
	
.blackfooter-text{
	 font-size:15px;
	 color:#7f7f7f;
	}	
.blackfooter-text i {
	font-size:18px;
	margin-right:5px;
	position:relative;
	top:3px;
	}	
.fa-envelope {
	font-size:15px;
	position:relative;
	top:-10px;
	}
#download-button	{
	max-width:238px;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:18px;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	padding:15px;
	height:56px;
	margin-top:-5px;
	}	
#download-button:hover{
	transition: all 0.3s;
background:#00a8c6;	
	}
@media (max-width:1070px) {
	#download-button {
		padding-top: 7px;
	}
}
@media (max-width:640px){
	#blackfooter{
		padding:20px;	
	}
}	
/*End Black Footer*/
/*Grey Footer*/
#greyfooter-container{
	padding:15px;
width:100%;
background:#242424;
}
#copyright, #terms{
	padding-top:30px;
	}
.greyfooter-text{
font-size:14px;
color:#7f7f7f;	
	}
/*End Grey Footer*/