#speaker-button{
	margin-top:70px;
	}

.testimonial-logo img{
  margin: 0 auto;
}
.randomfade-div {
  display: none;
  margin-top: 50px;
}


#teaser-text, .randomfade-div {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#SponsorsButton {
	background-color: #16AAE1;
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
	margin:0 auto 40px auto;
	max-width:330px;
	padding: 10px;
	text-align: center;
	cursor:pointer;
}

#SponsorsButton:hover {
background-color: #FC354C;
}

#titanium-sponsors {
	maring-top:-25px;
	}
#VideoContainer{
	z-index:0;
	width:100%;
	height:560px;
	position:relative;
	top:0;
	margin-top:100px;
    overflow:hidden; 
	}
video {
	width:100%;
	min-width:1920px;
	height:560px;
	margin:0 auto;
	}
@media (min-width:1921px) {
video {
	min-width:2560px;
	height:auto;
	}
	}	
	
.colors-wrapper{
	position:relative;
	top:-5px;
	} 	
#map {
	width:100%;
	height:400px;
	}	
#mapicon:hover {
	text-decoration:none;
	}
.GoogleButton {
	width:100%; 
	text-align:center; 
	background:#06222c; 
	color:#fff; 
	padding:40px 0; 
	font-size:18px; 
	font-weight:400;
}
	
#VenueContainer{
	padding:30px 0;
	text-align:center;
	
	}	
#VenueContainer h1{
  font-family: 'Oswald', sans-serif;
  font-size:36px;	
  margin-bottom:20px;	
	}	

#VenueContainer p{
  font-size:19px;
  font-weight:300;
  max-width:740px;
  margin:0 auto;
  margin-bottom:20px;	
  	}	
	
@media (max-width: 580px) {
	#VenueContainer {
		padding: 20px;	
	}
	#VenueContainer h1 {
		font-size: 30px;	
	}
}
@media (max-width:480px){
  #speaker-button, #DownloadPDFModal-apply-as-speaker .submitbutton {
    font-size: 24px;
  }
}

@media (max-width:640px){
  	#download-button {
		padding-top: 15px;
	}
	#newsletterform-container .small-12 {
		margin-bottom: 15px;
	}
	#newsletterform-container .small-10 {
		width: 60%;
	}
	#newsletterform-container .small-2 {
		width: 20%;
	}	
video {
	visibility:hidden;
	
	}	
#header-container {
	height:auto;
	max-height: 760px;
	width: 100%;
	background:url(../img/header-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	padding:50px 30px;
	margin-top:-35px;
	z-index:1;
	position:absolute;
	top:0;
	overflow:hidden;
}	

#VideoContainer{
	min-height:inherit;
	margin-bottom:30px;
	}
}
/*Mobile menu margin for the content*/
@media (min-width:640px) and (max-width:718px){
  #VideoContainer{
    margin-top: 60px !important;
  }
}
/*end mobile menu margin for the content*/
@media (min-width:1080px){
  #follow-us {
    width: 300px;
  }
  #general-inquiries {
    width: 200px;
  }
  #sponsorship {
    width: 230px;
  }
  #download-brochure {
    width: 270px;
  }
  #copyright {
    padding-left: 0;
    padding-right: 0;
  }
  #terms {
    text-align: right;
  }
  #myForm .row, #blackfooter .row, #greyfooter-container .row {
    max-width: 1000px;
  }

@media (max-width:1200px){
  	#download-button {
		padding-top: 15px;
	}
}


	

@media (max-width:640px){
  #follow-us-container, #general-inquiries-container, #sponsorship-container, #download-brochure-container,
  #footer-hrtech-logo-container, #copyright-container, #terms-container {
    width: 260px;
    margin: 10px auto;
    text-align: center;
  }
  #follow-us-container, #general-inquiries-container {
    margin-top: 10px;
  }
  #download-button {
    margin-left: 12px;
  }
  #terms-container {
    text-align: center;
  }
}

.reveal-modal {
  background-color: #fff;
  text-align: center;
 
}
.reveal-modal h2{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
@media (max-width:580px){
  .reveal-modal {
    width: 100%;
  }
}
#DownloadPDFModal-apply-as-speaker .formlabel {
  color: #000;
}


.close-reveal-modal img {
	position: relative;
	top: -35px;
	right: -35px;
}
@media (max-width:640px){
  .close-reveal-modal img {
	top: 0px;
	right: 0px;
}
}
@media (max-width:380px){
  .close-reveal-modal img {
	width: 40px;
        height: 40px;
}
}

.orbit-slide-number, .orbit-prev, .orbit-next, .orbit-timer {
	display:none;
}