/*General defs of the Mediapartners page*/
body {
  line-height: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: inherit;
}
a {
  color: #000;
}
a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

/*End General defs of the Mediapartners page*/

/* Mediapartners */
#MediapartnersHeaderContainer {
  width: 100%;
  background-image: url(../img/mediapartners/mediapartners-header.jpg);
  background-position: top;
  background-size: cover;
  height: 285px;
  margin-top: 85px;
}
#MediapartnersHeaderInnerContainer {
	width: 100%;
	max-width: 940px;
	text-align: center;
	margin: 0 auto;
}
#MediapartnersHeaderInnerContainer * { 
	color: #fff; 
	font-weight: 400;
	padding-left: 15px;
	padding-right: 15px;
}
#MediapartnersHeaderInnerContainer h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	padding-top: 55px;
	padding-bottom: 40px;
}
#MediapartnersHeaderInnerContainer p {
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 40px;
}

/* Mediapartner Delete X sign */
.MediapartnerDelete {
  text-align: left;
  width: 30px;
  /*height: 20px;*/
  padding: 6px 6px 6px 7px;
  background-color: #ddd;
  border-radius: 150px;
}
.MediapartnerDelete:hover {
  background-color: #FF8686;
  cursor: pointer;
}
.MediapartnerDelete:hover p {
  color: #fff;
}
.MediapartnerDelete p {
  padding-left: 7px;
  padding-top: 3px;
  font-weight: bold;
}
#NewAlaCarteButton {
	padding:40px;	
}

#NewAlaCarteButton h1 {
	padding:30px;	
}

#NewAlaCarteButton h1:hover {
	cursor:pointer;	
}
/* End Mediapartner Delete X sign */

@media (min-width:1921px){
	#MediapartnersHeaderContainer {
	  background-image: url(../img/mediapartners/mediapartners-header-4k.jpg);
	}
}
@media (max-width: 718px) {
	#MediapartnersHeaderContainer {
	 margin-top: 20px;
	}
}
@media (max-width: 580px){
	#MediapartnersHeaderInnerContainer h1 {
		padding-bottom: 30px;
	}
	#MediapartnersHeaderInnerContainer p {
		font-size: 17px;
		line-height: 24px;
	}
}
/* End Mediapartners */



/* Colors */
.colored-stripe {
	float: left;
}
/* End Colors */

#HeaderGetTicketsButton  {
	top:2px;
	padding-top:9px;
	}	
	
#Mediapartners {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  
  display: -moz-flex;
  -moz-flex-wrap: wrap;
  -moz-justify-content: center;
  
  clear: both;
}






.MediapartnerSection {
	width:100%;	
	padding: 50px 15px 0 15px;
}
.MediapartnersTypeDiv {
	margin: 0 auto;
	display: flex; display: -moz-flex; display: -webkit-flex;
	justify-content: center; -moz-justify-content: center; -webkit-justify-content: center;
	flex-wrap: wrap; -moz-flex-wrap: wrap; -webkit-flex-wrap: wrap;
}


.MediapartnerSection h1 {
	text-align:center;
	text-transform: uppercase;
        font-size: 36px;
        padding-bottom: 5px;
        font-family: 'Oswald', sans-serif;
}
.MediapartnerMain {
	text-align: center;
}

.Mediapartner {
  width: 145px;
  margin: 10px;
}
.MediapartnerLogo{
  width: 145px;
  height: 145px;
  background-size: cover;
  border: 1px solid #000;
}
.MediapartnerName {
  line-height: 12px;
}
.MediapartnerViewProfile{
	margin-top: 40px;
	color: #00a8c6;
}
.MediapartnerLogoHoverInfo {
  visibility: hidden;
  opacity: 0;
  background-color: #040404;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;

}
.Mediapartner .MediapartnerLogo:hover .MediapartnerLogoHoverInfo{
	visibility: visible;
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
 	transform: scale(1.2, 1.2);
}
.ALaCarte {
	font-size: 17px;
	color: #16aae1;
	width: 100%;
	max-width: 145px;
	padding-top: 10px;
}
@media (max-width: 359px){
	.Mediapartner {
		width: 120px;
	}
	.MediapartnerLogo{
  		width: 120px;
  		height: 120px;
  	}
  	.MediapartnerViewProfile{
		margin-top: 35px;
	}
	.MediapartnerLogoHoverInfo{
		font-size: 12px;
	}
	.Mediapartner .MediapartnerLogo:hover .MediapartnerLogoHoverInfo{
	  	visibility: hidden;
  		opacity: 0;
	}
}
@media (max-width:580px){
	#Mediapartners {
		padding-top: 0px;
	}
	.MediapartnerSection {
		padding-top: 30px;
		padding-bottom: 20px;
	}
}


/*-----MODAL DEFINITIONS------*/
.modal-dialog  {margin-top: 60px;}
.modal-content {border-radius: 0;}
.modal-body    {background-color: #fff;}

.close, .close:hover {
  opacity: 1;
  position: relative;
  top: -40px;
  right: -40px;
}
.ModalMediapartnerPhoto {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  background-size: cover;
}
.ModalMediapartnerBioContainer {
  text-align: center;
  color: #323232;
}
.ModalMediapartnerName {
  font-size: 35px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #323232;
  padding-top: 15px;
  padding-bottom: 10px;
}

.ModalMediapartnerCompanyLink {
  font-size: 1.8em;
  font-weight: 400;
  color: #00a8c6;
}
.ModalMediapartnerCompanyLink:hover {
  color: #35B0E3;
}
.ModalDivider {
  border-top: 1px solid #b3b3b3;
  height: 1px;
  margin: 20px auto 20px auto;
  width: 40px;
}
.SocialIcons {display:inline;}
.SocialIcons .fa {
  font-size: 14px;
  color: #fff;
  background: #323232;
  padding: 7px;
  border-radius: 900px;
  margin: 0 2px;
}
.SocialIcons .fa-facebook { padding: 7px 10px; }
.SocialIcons .fa-facebook:hover {background: #3b5998;}
.SocialIcons .fa-twitter:hover  {background: #4099ff;}
.SocialIcons .fa-linkedin:hover {background: #0e76a8;}
.SocialIcons .fa-google { padding: 8px 8px 6px 8px; }
.SocialIcons .fa-google:hover {background: #1F48A9;}
.SocialIcons .fa-flickr:hover {background: #FF0084;}
.SocialIcons .fa-rss:hover {background: #C52C02;}

.ModalMediapartnerBio {
  font-size: 1.7em;
  line-height: 1.7em;
  font-weight: 300;
  text-align: left;
  padding: 25px;
}
.ModalMediapartnerBioHighlight {
  font-size: 1.2em;
  font-weight: 400;
}
.ModalMediapartnerBioHighlight:after {
  content: ' ';
  clear: right;
  display: block;
}
@media(max-width:767px){
  .modal-dialog {
    margin: 0;
    width: 100%;
  }
  .close, .close:hover {
    top: 0px;
    right: 0px;
  }
  .ModalMediapartnerBio {
    padding-left: 5px;
    padding-right: 5px;
  }
}


@media(max-width:380px){
  .close img {
    width: 35px;
    height: 35px;
  }
}
/*----- END MODAL DEFINITIONS------*/
/* Form */
#MediaPartnersFormContainer {
  width: 100%;
  background-image: url(../img/mediapartners/mediapartners-form-bg.jpg);
  background-size: cover;
}
#MediaPartnersFormInnerContainer {
  width: 100%;
  max-width: 960px;
  padding: 50px 15px;
  margin: 0 auto;
}
@media (max-width: 360px){
  #MediaPartnersFormInnerContainer {
    padding: 50px 5px;
  }
}
a#join-the-blog-squad {
  position: relative;
  top: -130px;
}
@media (max-width: 718px){
  a#join-the-blog-squad {
    top: -100px;
  }  
}
#MediaPartnersFormInnerContainer h1{
  font-size: 36px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}
form {
  margin-bottom: 0; /* Overrides the default foundation margin-bottom value */
}
#first_name, #last_name, #email, #phone, #company, #JoinMediaPartnersButton {
  width: 100%;
  height: 55px;
  font-size: 20px;
}
textarea {
  height: 340px;
  font-size: 20px;
}
#JoinMediaPartnersButton {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  border: 0px;
  background-color: #29A0C7;
  cursor: pointer;
  transition: all 0.3s;
}
#JoinMediaPartnersButton:hover {
  background-color: #FC354C;
}

/* End Form */


/*FOOTER ALIGNMENTS (because Foundation and Bootstrap uses the same ".row" named class..) */
#blackfooter .row, #greyfooter-container .row {
  max-width: 1480px;
  margin-left: auto; margin-right: auto;
}
/*END FOOTER ALIGNMENTS*/

/*Mobile menu margin for the content*/
@media (max-width:640px){
#Mediapartners {
	margin-top:0;
	}	  
}
/*Mobile menu fa-bars button alignment*/
.fa-bars {
  position: relative;
  top: -7px;
}
/*end Mobile menu fa-bars button alignment*/