@charset "utf-8";
/* General Definitions*/

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size:10px;
}

.RobotoText {
  font-family: 'Roboto', sans-serif;
}
.OswaldText {
  font-family: 'Oswald', sans-serif;
}

/*END  General Definitions*/

/*Scroll to top button */
.GoTopButton {
    position: fixed;
    bottom: 100px;
    right: 50px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
}
#GoTopImg{
    width:70px; 
    height:70px;
}
/*Scroll to top button */

/*Header*/
#header-container {
	height: 560px;
	width: 100%;
	background:url(../img/pattern-overlay.png) repeat-x;
	background-color:rgba(0,0,0,0.30);
	background-size: cover;
	text-align:center;
	padding:70px 0 50px 0;
	margin-top:0px;
	z-index:1;
	position:absolute;
	top:0;
}
#header-hrtech-logo {
	padding:0 15px;
}
#header-container h1 {
	margin-top:50px;
	color:#fff;
	font-weight:bolder;
	font-size:60px;
	line-height:50px;
	margin-bottom:30px;
	font-weight:900;
	}	
#header-container h2{
	
	color:#fff;
	font-weight:300;
	font-size:50px;
	line-height:40px;
	margin-bottom:50px;
	}	
#header-container h6{
	color:#fff;
	font-size:24px;
	margin:30px 0 20px 0;
	}
.header-button {
	color:#fff;
	font-size:26px;
	transition: all 0.3s;
	text-transform:uppercase;
	padding:17px 0px;
	margin:0 10px;
	margin-top: 20px;
	height:56px;
	display:inline-block;
	width:100%;
	text-align:center;
	
	}
#TicketsButton {
background-color: rgba(235, 31, 50, 0.48);
border:3px solid #EB1F32;
transition: all 0.2s;	
}	
#TicketsButton:hover {
	background:#EB1F32;
	
	}
#DownloadBrochureButton {
background-color: rgba(76, 194, 215, 0.48);
border:3px solid #00a8c6;
transition:all 0.2s;
	}
#DownloadBrochureButton:hover {	
	background:#00a8c6;
}

.ImageHeader   {
width:100%;
height:285px;
text-align:center;
background-size:cover;
padding:30px;
color:#fff;
margin-top:100px;	
	}
	
.ImageHeader h1 {
	color:#fff;
	font-family: 'Oswald', sans-serif;
	margin-bottom:40px;
	font-size:48px;
	}	
.ImageHeader p {
	max-width:700px;
	margin:0 auto;
	font-size:24px;
	line-height:30px;
	}	
@media (max-width:460px) {
	#header-container {
		padding-left: 30px;
		padding-right: 30px;
		min-height:520px;
	
	}
	.header-button {
		width: 100%;
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
}
	
.colors-wrapper {
width:100%;	
	}	
.colored-stripe{
	height:10px;
	width:25%;
	}	

.red {
	background:#FC354C;
	}	

.blue {
	background:#29A0C7;
	
	} 
.yellow{
	background:#FF8E2D;
	}
.green {
	background:#8FBE00;
	}			
/* End Header*/

/*STICKY SOCIAL ICON SIDEBAR*/
#StickySocialIconSidebar {
    display: block;
    position: fixed;
    top: 35%;
    z-index: 5000;
}
.StickySocialIcon {
    width: 65px;
    height: 45px;
    background-color: rgba(0,0,0,0.33);
    font-size: 30px;
    color: white;
    margin-left: -20px;
    margin-bottom: 2px;
    padding-right: 10px;
    padding-top: 7px;
    text-align: right;
}
.StickySocialIcon:hover{
    transition: all 0.3s;
    margin-left: 0px;
}
.StickyFacebookIcon {
    padding-right: 15px;
}
.StickyFlickrIcon img{
    position: relative;
    top: 2px;
}
.StickySlideshareIcon img{
    position: relative;
    top: 2px;
    left: 4px;
}
.StickyFacebookIcon:hover {
    background-color: #36609F;
}
.StickyTwitterIcon:hover {
    background-color: #2DAAE1;
}
.StickyLinkedinIcon:hover {
    background-color: #096C9B;
}
.StickyFlickrIcon:hover {
    background-color: #ed2a90;
}
.StickySlideshareIcon:hover {
    background-color: #1e9da0;
}


/*Teaser*/
.teaser-headline{
	margin-top:60px;
	text-align:center;
	font-size:45px;
	color:#00a8c6;
	font-family: 'Oswald', sans-serif;
	}
#teaser-headline-dash {
	position: relative;
	top: -10px;
}
#teaser-text{
	color: #082d3c;
	margin:40px 0;
	font-size:24px;
	line-height:35px;
	font-weight: 300;
	max-width: 1000px !important;
	}
#teaser-divider	{
	background:url(../img/mainstage-divider.png) no-repeat center;
	background-size:cover;
	height:133px;
	
	
	}
/*End Teaser*/
/*Main Stage*/
#mainstage-headline{
	margin:60px 0;
	text-align:center;
	font-size:60px;
	color:#df1e34;
	font-family: 'Oswald', sans-serif;
	
	}
.speaker-wrapper{
	max-width:500px;
	max-height:650px;
	margin:40px 0;
	}	
.speaker-info{
width:100%;
height:100%;
min-height:100px;
background:#e8e4d3;
text-align:center;
font-size:30px;
color: #082D3C;
font-weight:300;
line-height:1.3em;
padding:20px 20px;	
	}	
#mainstage-wrapper{
	margin:0 auto;
	padding:0 10px;
	margin-bottom: 50px;
	}	
#speaker-button, #register-button {
	margin:0 auto; 
	max-width:380px;
	padding:12px;
	text-transform:uppercase;
	text-align:center;
	font-size:26px;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	margin-bottom:0px;
	
	line-height:30px;
	height:56px
	}	
#speaker-button:hover, #register-button:hover{
		transition: all 0.3s;
		background:#00a8c6;
	}		
@media(max-width:640px){
#speaker-button{
max-width:85%;
	
	}
	}		
/*End Main Stage*/
/*Images and Clients*/

#sponsor-headline{
	margin:60px 0;
	text-align:center;
	font-size:60px;
	color:#00a8c6;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	}
.sponsor-logo{
	display:inline-block;
	margin:10px;
	margin-left: 20px;
	margin-right: 20px;
	}	
@media (max-width:677px) {
	.sponsor-logo {
		width:40%;
		}
	}		
/*End Images and Clients*/
/*2for1 Form*/
#formcontainer-divider{
	width:100%;
	height:133px;
	background:url(../img/2for1-divider.png) no-repeat center;
	background-size:cover;
	position: relative;
	top: 66px;
	}
#formcontainer{
	width:100%;
	min-height:700px;
	background:url(../img/2for1-background-grid.png) center top no-repeat;
	background-size:cover;
	padding:50px 20px 50px 20px;
	text-align:center;
}
	
#formheadline	{
	font-size:60px;
	font-weight:300;
	font-family: 'Oswald', sans-serif;
	color:#fff;
	margin-bottom:20px;
	margin-top: 80px;
	
	}
	
#formdivider{
	max-width:430px;
	width:100%;
	margin:0  auto;
	border-top:1px solid #fff;
	height:50px;
	}
#formlist {
	font-size:24px;
	list-style-type:none;
	color:#fff;
	margin-left: 0;
	}	
#formlist li {
	padding:2px 0;
	}	
.formlabel{
	position:relative;
	left:0;
	text-align:left;
	font-size:24px;
	color:#fff;
	}
	
.submitbutton{
	border:0;
	margin:0 auto;
	margin-top:50px;
	width:98%;
	padding:10px 10px;
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	margin-bottom:50px;
	height:56px;
	}	
	
#mc-embedded-subscribe-form input {
height:56px;
font-size:20px;	
	}	
	
#DownloadPDFModal h2, #DownloadPDFModal p {
	text-align:center;
	}	
	
#DownloadPDFModal h2 {
	font-family: 'Oswald', sans-serif;
	margin-bottom:20px;
	}	
	
#DownloadPDFModal p	{
	font-size:20px;
	margin-bottom:10px;
	}
.submitbutton:hover{
		transition: all 0.3s;
		background:#00a8c6;
		cursor:pointer;
	}	

 .form-textarea {
	height:380px;
 }
/*2for1 Form*/
/*Newsletter Form*/
#newsletterform-divider{
	width:100%;
	height:133px;
	background:url(../img/newsletterform-divider.png) no-repeat center;
	background-size:cover;
	position: relative;
	margin-top:50px;
	margin-bottom:-150px;
}
#newsletterform-container{
	text-align:center;
	width:100%;
	background:#082d3c;
	min-height:300px;
	padding:130px 15px 150px 15px;
	}
#newsletterform-headline{
	font-size:36px;
	color:#fff;
	text-transform:uppercase;
	text-align:right;
	line-height:34px;
	font-weight:300;	
	}
@media (min-width:1046px){
#newsletterform-headline{
	position:relative;
	top:15px;
	}	
}
#emailaddress {
	font-size: 24px;
	font-weight: 300;
}
#newsletter-submit, #mc-embedded-subscribe{
	font-size:26px;
	font-weight:400;
	margin:0 auto;
	border:0;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	padding:4px ;
	text-transform:uppercase;
	width:100%;
	height:56px;
	}
#newsletter-submit:hover, #mc-embedded-subscribe:hover {
	cursor:pointer;
	transition: all 0.3s;
		background:#00a8c6;
	}
@media (max-width:769px){
	#formcontainer{
	min-height:600px;

}
	}

	
@media (min-width:740px){
	#mc-embedded-subscribe {
		float: left;
	}
}

@media (max-width:718px){
#header-container {
	
	margin-top:0px;
}
.ImageHeader   {
margin-top:50px;	
	}	
	}
@media (max-width:640px){
	#newsletterform-container{
	padding:120px 0 50px 0;
	min-height: 400px;
	}
	
	

#newsletterform-headline{
	text-align:center;
	margin-bottom:20px;
	font-weight:100
	}	
	
	}
/*End Newsletter Form*/
/*Grey Footer*/
#greyfooter-container{
	padding:15px;
width:100%;
background:#242424;
}
#copyright, #terms{
	padding-top:30px;
	}
.greyfooter-text{
font-size:14px;
color:#7f7f7f;	
	}
	
	
/*End Grey Footer*/


@media (max-width:640px){
  #follow-us-container, #general-inquiries-container, #sponsorship-container, #download-brochure-container,
  #footer-hrtech-logo-container, #copyright-container, #terms-container {
    width: 260px;
    margin: 10px auto;
    text-align: center;
  }
  #follow-us-container, #general-inquiries-container {
    margin-top: 10px;
  }
  #download-button {
    margin-left: 12px;
  }
  #terms-container {
    text-align: center;
  }
}

/*Black Footer*/
#blackfooter{
	width:100%;
	background:#E5E5E5;
	min-height:200px;
	padding:50px;
	
	}
.blackfooter-element-title{
	color:#333;
	font-size:17px;
	clear:both;
	margin-bottom:10px;
	font-weight:300;
	font-family: 'Oswald', sans-serif;
	}

#facebook{
	width:57px;
	height:57px;
	margin:3px;
	transition: all 0.3s;
	background:url(../img/facebook-icon.png) no-repeat center;
	background-size:contain;
	
	}
#facebook:hover {
	transition: all 0.3s;
	background:url(../img/facebook-icon-hover.png);
	
	}	
#twitter{
	width:57px;
	height:57px;
	margin:3px;
	transition: all 0.3s;
	background:url(../img/twitter-icon.png) no-repeat center;
	background-size:contain;
	
		}	
		#twitter:hover {
			transition: all 0.3s;
		background:url(../img/twitter-icon-hover.png);	
			}
#linkedin{
	width:57px;
	height:57px;
	margin:3px;
	transition: all 0.3s;
	background:url(../img/linkedin-icon.png) no-repeat center;
	background-size:contain;
	
	}
#linkedin:hover {
	transition: all 0.3s;
	background:url(../img/linkedin-icon-hover.png);
	}	
#flickr{
	width:57px;
	height:57px;
	margin:3px;
	transition: all 0.3s;
	background:url(../img/flickr-icon.png) no-repeat center;
	background-size:contain;
	
	}
#flickr:hover {
	transition: all 0.3s;
	background:url(../img/flickr-icon-hover.png);
	}		
	
.blackfooter-text{
	 font-size:15px;
	 font-family: 'Oswald', sans-serif;
	 color:#333333;
	 font-weight:300 !important;
	}	
.blackfooter-text i {
	font-size:15px;
	margin-right:7px;
     position:relative;
	 top:-1px;
	
	}	
.fa-envelope {
	font-size:15px;
	position:relative;
	top:-10px;
	}
#download-button	{
	max-width:238px;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:17px;
	color:#fff;
	transition: all 0.3s;
	background:#df1e34;
	padding:15px;
	height:50px;
	margin-top:-5px;
	}	
#download-button:hover{
	transition: all 0.3s;
background:#00a8c6;	
	}
@media (max-width:1070px) {
	#download-button {
		padding-top: 5px;
		font-size:17px;
		line-height:20px;
	}
	

@media (max-width:640px){
	#blackfooter{
	padding:20px;	
	}

#download-button {
font-size:17px;	
padding-top: 15px;
	}	
}	
/*End Black Footer*/



/*@MEDIA ELEMENTS FOR TABLET AND MOBILE VIEW*/
/*TABLET VIEW*/
@media (min-width:769px) and (max-width:1240px){ /*small desktops, tablets in landscape mode*/
  #header-container h2 {
    font-size: 40px;
  }
  .speaker-info{
    font-size: 24px;
  }
  #newsletterform-headline{
    font-size: 24px;
  }
  #emailaddress {
    font-size: 15px;	
  }
}
/*MOBILE VIEW*/
@media (max-width:768px){ /*mobile phones*/
  #header-hrtech-logo {
    padding:0 5px;
  }  
  #header-container h1 {
    font-size: 40px;
  }  
  #header-container h2 {
    font-size: 30px;
  }
  #teaser-headline{
    font-size: 35px;
    margin-top: 40px;
  }
  #teaser-headline-dash{
    top: -5px;	
  }  
  #teaser-text{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #mainstage-wrapper {
	margin-bottom: 10px;
  }
  #mainstage-headline{
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
  }	
  .speaker-info{
    padding-top: 30px;
    font-size: 16px;
  }
  #speaker-button {
	/*height: 50px;*/
  }
  #testimonial-container {
	padding-top: 30px;
  }
  #testimonial-container p{
    font-size: 20px;
  }
  #sponsor-headline{
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #formheadline	{
    font-size: 35px;
    margin-top: 50px;
  }
  #formlist, .formlabel {
	font-size: 18px;
  }
  .form-textarea {
	height: 355px;
  }
  .register-button-container {
	padding-left: 10px; padding-right: 10px;
  }
  #register-button {
	margin-top: 10px;
  }
  #newsletterform-divider {
	
  }
  #newsletterform-headline {
	font-size: 30px;
	line-height: 36px;
  }
  #copyright, #terms {
	padding-top: 0;
  }
}
@media (max-width:580px){
    #StickySocialIconSidebar {
        display: none;
	}
    .GoTopButton {
        bottom: 15px;
        right: 15px;
    }
}
