/*General defs of the Sponsors page*/
body {
  line-height: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: inherit;
}
a {
  color: #000;
}
a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

/*End General defs of the Sponsors page*/

/* Sponsors */
#SponsorsHeaderContainer {
  width: 100%;
  background-image: url(../img/sponsors/sponsors-header.jpg);
  background-position: top;
  background-size: cover;
  height: 285px;
  margin-top: 85px;
}
#SponsorsHeaderInnerContainer {
	width: 100%;
	max-width: 940px;
	text-align: center;
	margin: 0 auto;
}
#SponsorsHeaderInnerContainer * { 
	color: #fff; 
	font-weight: 400;
	padding-left: 15px;
	padding-right: 15px;
}
#SponsorsHeaderInnerContainer h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	padding-top: 55px;
	padding-bottom: 40px;
}
#SponsorsHeaderInnerContainer p {
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 40px;
}

/* Sponsor Delete X sign */
.SponsorDelete, .SponsorPermission {
  text-align: left;
  width: 30px;
  /*height: 20px;*/
  padding: 6px 6px 6px 7px;
  background-color: #ddd;
  border-radius: 150px;
  float:left;
}
.SponsorDelete:hover, .SponsorPermission:hover {
  background-color: #FF8686;
  cursor: pointer;
}
.SponsorDelete:hover p, .SponsorPermission:hover p {
  color: #fff;
}
.SponsorDelete p, .SponsorPermission p {
  padding-left: 7px;
  padding-top: 3px;
  font-weight: bold;
}


#NewAlaCarteButton {
	padding:40px;	
}

#NewAlaCarteButton h1 {
	padding:30px;	
}

#NewAlaCarteButton h1:hover {
	cursor:pointer;	
}
/* End Sponsor Delete X sign */

@media (min-width:1921px){
	#SponsorsHeaderContainer {
	  background-image: url(../img/sponsors/sponsors-header-4k.jpg);
	}
}
@media (max-width: 718px) {
	#SponsorsHeaderContainer {
	 margin-top: 20px;
	}
}
@media (max-width: 580px){
	#SponsorsHeaderInnerContainer h1 {
		padding-top: 35px;
		padding-bottom: 30px;
	}
	#SponsorsHeaderInnerContainer p {
		font-size: 17px;
		line-height: 24px;
	}
}
/* End Sponsors */



/* Colors */
.colored-stripe {
	float: left;
}
/* End Colors */

#HeaderGetTicketsButton  {
	top:2px;
	padding-top:9px;
	}	
	
#Sponsors {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  
  display: -moz-flex;
  -moz-flex-wrap: wrap;
  -moz-justify-content: center;
  
  clear: both;
}






.SponsorSection {
	width:100%;	
	padding: 50px 15px 0 15px;
}
.SponsorsTypeDiv {
	margin: 0 auto;
	display: flex; display: -moz-flex; display: -webkit-flex;
	justify-content: center; -moz-justify-content: center; -webkit-justify-content: center;
	flex-wrap: wrap; -moz-flex-wrap: wrap; -webkit-flex-wrap: wrap;
}


.SponsorSection h1 {
	text-align:center;
	text-transform: uppercase;
        font-size: 36px;
        padding-bottom: 5px;
        font-family: 'Oswald', sans-serif;
}
.SponsorMain {
	text-align: center;
}

.Sponsor {
  width: 145px;
  margin: 10px;
}
.SponsorLogo{
  width: 145px;
  height: 145px;
  background-size: cover;
  border: 1px solid #000;
}
.SponsorName {
  line-height: 12px;
}
.SponsorViewProfile{
	margin-top: 40px;
	color: #00a8c6;
}
.SponsorLogoHoverInfo {
  visibility: hidden;
  opacity: 0;
  background-color: #040404;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;

}
.Sponsor .SponsorLogo:hover .SponsorLogoHoverInfo{
	/*visibility: visible;*/
	visibility: hidden;
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
 	transform: scale(1.2, 1.2);
}
.ALaCarte {
	font-size: 17px;
	color: #16aae1;
	width: 100%;
	max-width: 145px;
	padding-top: 10px;
}
@media (max-width: 359px){
	.Sponsor {
		width: 120px;
	}
	.SponsorLogo{
  		width: 120px;
  		height: 120px;
  	}
  	.SponsorViewProfile{
		margin-top: 35px;
	}
	.SponsorLogoHoverInfo{
		font-size: 12px;
	}
	.Sponsor .SponsorLogo:hover .SponsorLogoHoverInfo{
	  	visibility: hidden;
  		opacity: 0;
	}
}
@media (max-width:580px){
	#Sponsors {
		padding-top: 0px;
	}
	.SponsorSection {
		padding-top: 30px;
		padding-bottom: 20px;
	}
}


/*-----MODAL DEFINITIONS------*/
.modal-dialog  {margin-top: 60px;}
.modal-content {border-radius: 0;}
.modal-body    {background-color: #fff;}

.close, .close:hover {
  opacity: 1;
  position: relative;
  top: -40px;
  right: -40px;
}
.ModalSponsorPhoto {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  background-size: cover;
}
.ModalSponsorBioContainer {
  text-align: center;
  color: #323232;
}
.ModalSponsorName {
  font-size: 35px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #323232;
  padding-top: 15px;
  padding-bottom: 10px;
}

.ModalSponsorCompanyLink {
  font-size: 1.8em;
  font-weight: 400;
  color: #00a8c6;
}
.ModalSponsorCompanyLink:hover {
  color: #35B0E3;
}
.ModalDivider {
  border-top: 1px solid #b3b3b3;
  height: 1px;
  margin: 20px auto 20px auto;
  width: 40px;
}
.SocialIcons {display:inline;}
.SocialIcons .fa {
  font-size: 14px;
  color: #fff;
  background: #323232;
  padding: 7px;
  border-radius: 900px;
  margin: 0 2px;
}
.SocialIcons .fa-facebook { padding: 7px 10px; }
.SocialIcons .fa-facebook:hover {background: #3b5998;}
.SocialIcons .fa-twitter:hover  {background: #4099ff;}
.SocialIcons .fa-linkedin:hover {background: #0e76a8;}
.SocialIcons .fa-google { padding: 8px 8px 6px 8px; }
.SocialIcons .fa-google:hover {background: #1F48A9;}
.SocialIcons .fa-flickr:hover {background: #FF0084;}
.SocialIcons .fa-rss:hover {background: #C52C02;}

.ModalSponsorBio {
  font-size: 1.7em;
  line-height: 1.7em;
  font-weight: 300;
  text-align: left;
  padding: 25px;
}
.ModalSponsorBioHighlight {
  font-size: 1.2em;
  font-weight: 400;
}
.ModalSponsorBioHighlight:after {
  content: ' ';
  clear: right;
  display: block;
}
@media(max-width:767px){
  .modal-dialog {
    margin: 0;
    width: 100%;
  }
  .close, .close:hover {
    top: 0px;
    right: 0px;
  }
  .ModalSponsorBio {
    padding-left: 5px;
    padding-right: 5px;
  }
}


@media(max-width:380px){
  .close img {
    width: 35px;
    height: 35px;
  }
}
/*----- END MODAL DEFINITIONS------*/


/*FOOTER ALIGNMENTS (because Foundation and Bootstrap uses the same ".row" named class..) */
#blackfooter .row, #greyfooter-container .row {
  max-width: 1480px;
  margin-left: auto; margin-right: auto;
}
/*END FOOTER ALIGNMENTS*/

/*Mobile menu margin for the content*/
@media (max-width:640px){
#Sponsors {
	margin-top:0;
	}	  
}
/*Mobile menu fa-bars button alignment*/
.fa-bars {
  position: relative;
  top: -7px;
}
/*end Mobile menu fa-bars button alignment*/